server:
  address: localhost
  port: 8080

property:
  public:
    path: C:/git/pick-viewer/dev-viewer/public/

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/public?allowPublicKeyRetrieval=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    #    url: jdbc:mysql://ec2-13-125-213-129.ap-northeast-2.compute.amazonaws.com:3306/public?allowPublicKeyRetrieval=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: admin
    password: teamBEP0
  jpa:
    properties:
      hibernate:
        format_sql: true
        cache:
          use_second_level_cache: false
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate.ddl-auto: validate
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'teambepo@gmail.com'
    password: 'omcxqpkflylisorz'
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            protocols: TLSv1.2
          starttls:
            enable: true
            required: true