server:
  address: localhost
  port: 8080

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'teambepo@gmail.com'
    password: 'omcxqpkflylisorz'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/public?allowPublicKeyRetrieval=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
#    url: jdbc:mysql://ec2-13-125-213-129.ap-northeast-2.compute.amazonaws.com:3306/public?allowPublicKeyRetrieval=true&useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: admin
    password: teamBEP0
  jpa:
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate.ddl-auto: validate

logging.level:
  org.hibernate:
    SQL: debug